@model soulsoft_delivery_asp.ViewModels.ClienteViewModel

@{
    ViewData["breadcrumb"] = "Clientes";
    ViewData["breadcrumb_url"] = "/Clientes/Index";
    ViewData["title"] = "Cadastrar";
}

@if (ViewData["ClientesMessage"] != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2 mr-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
        <div>
            @ViewData["ClientesMessage"]
        </div>

    </div>
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-secundary">
            <div class="card-header">
                <h3 class="card-title">Dados do Cliente</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" asp-controller="Clientes" asp-action="CreateOrEdit">
                <div class="card-body">

                    <input type="hidden" asp-for="Cliente.Id">
                    <input type="hidden" asp-for="Cliente.EmpresaId">

                    <div class="form-group">
                        <label for="nome">Nome*</label>
                        <input type="text" asp-for="Cliente.Nome" class="form-control" placeholder="Digite o nome completo">
                        <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone*</label>
                        <input type="text" asp-for="Cliente.Telefone" class="form-control telefone" placeholder="Digite o Telefone">
                        <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" asp-for="Cliente.Email" class="form-control" placeholder="Digite o Email">
                        <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                    </div>

                    @if (Model.Endereco.Id != 0)
                    {
                        <div class="form-group">
                            <div class="card">
                                <h5 class="card-header">Endereços do Cliente</h5>
                                <div class="card-body">
                                    <h5 class="card-title">Residência</h5>
                                    <p class="card-text">
                                        <span><b>Rua</b> @Model.Endereco.Rua, <b>Numero</b> @Model.Endereco.Numero</span><br />
                                        <span><b>Bairro</b> @Model.Endereco.Bairro, <b>Quadra</b> @Model.Endereco.Quadra, <b>Lote</b> @Model.Endereco.Lote</span><br />
                                        <span><b>CEP</b> @Model.Endereco.Cep</span><br />
                                        <span><b>Complemento</b> @Model.Endereco.Complemento</span><br />
                                    </p>
                                    <a asp-controller="Enderecos" asp-action="CreateOrEdit" asp-route-EnderecoId="@Model.Endereco.Id" asp-route-ClienteId="@Model.Cliente.Id" class="btn btn-secondary btn-sm">Alterar</a>
                                    @*<a href="#" class="btn btn-danger btn-sm">Excluir</a>*@
                                </div>
                            </div>
                        </div>
                    }

                    <div class="form-group mb-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Cliente.Ativo" class="custom-control-input" id="ativo">
                            <label class="custom-control-label" for="ativo">Ativo?</label>
                            <span asp-validation-for="Cliente.Ativo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">@(Model.Endereco.Id != 0 ? "Salvar" : "Avançar")</button>
                    <a asp-controller="Clientes" asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
</div>
<!-- /.row -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}